.mainContainer {
    /* background-size: cover; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* border-style: solid; */
}

.matchContainer:hover {
    background-color: #D6EEEE;
}

.matchContainer {
    display:grid;
    justify-content: center;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(204, 204, 204);
    /* background-color: rgba(255, 255, 255, 0.1); */
    box-shadow: 5px 5px 30px rgba(72, 71, 71, 0.4);
    height: 250px;
    width: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#newMatchesMsg{
    color:brown;
}

h2 {
    margin-left: 10px;
    font-size: 14px;
    color:brown;
    font-family:'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-size: cover;
    height: 100vh;

    /* just a tests */
    background-color: rgb(255, 255, 255);
    /* background-image: url("https://epostalnews.com/wallpaper/wallpaper/20220822/4k-minimalist-grey-wallpapers-wallpaper-preview.webp"); */
}

.divSelected {
    background-color: #D6EEEE;
    box-shadow: 5px 5px 30px rgba(72, 71, 71, 0.8);
}