/* ==========================================================================
   Base Styles
   ========================================================================== */

body {
    background-color: #f4f4f9;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    color: #3498db;
    margin-bottom: 20px;
}

header ul {
    max-width: 720px;
    margin: 0 auto;
    list-style-type: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    gap: 10px;
    display: grid;
    text-align: center;
}

/* ==========================================================================
   League Selector
   ========================================================================== */

.league-selector {
    text-align: center;
    margin-bottom: 30px;
}

.league-selector label {
    margin-right: 10px;
    font-weight: bold;
}

.league-selector select {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.league-selector select:focus {
    outline: none;
    border-color: #3498db;
}

/* ==========================================================================
   Main Container
   ========================================================================== */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 5px;
}

/* ==========================================================================
   Match Card Component
   ========================================================================== */

.match-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(72, 71, 71, 0.815);
    max-width: 440px;
    cursor: grab;
    transition: background-color 0.3s ease;
    background-color: #fff;
    flex-grow: 1;
}

.match-card:hover {
    background-color: #D6EEEE;
}

.match-card:active {
    cursor: grabbing;
}

.match-card--drag-over {
    border: 2px dashed #000;
}

.match-card--selected {
    background-color: #8fc5c5;
    box-shadow: 0px 5px 5px rgba(72, 71, 71, 0.8);
}

.match-card__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.match-card__header h2 {
    width: 100%;
    font-size: large;
    margin: 0;
    text-align: center;
}

.match-card iframe {
    width: 100%;
    height: 290px;
    border: none;
}

/* ==========================================================================
   Period Selector Component
   ========================================================================== */

.period-selector {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin: 10px auto 10px auto;
    width: 40%;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    box-shadow: black;
    box-shadow: 2px 2px 15px rgb(72 71 71 / 6%);
}

.period-btn {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #333;
}

.period-btn:hover {
    background-color: #e0e0e0;
}

.period-btn--selected {
    background-color: #3498db;
    color: white;
    border-color: #2980b9;
}

/* ==========================================================================
   Statistics Component
   ========================================================================== */

.stats {
    display: flex;
    font-size: 13px;
    width: 100%;
    gap: 10px;
}

.stats div {
    padding: 5px;
}

.stats span {
    font-size: 1.2em;
    margin: 0 5px;
}

.stats p {
    margin: 0;
    flex-grow: 1;
}

.stats__home-team,
.stats__away-team {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.stats__home-team p,
.stats__away-team p {
    margin: 0;
}

.stats__home-team p {
    text-align: left;
}

.stats__away-team p {
    text-align: right;
}

.stats__home-team div,
.stats__away-team div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* ==========================================================================
   Button Component
   ========================================================================== */

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    padding: 30px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #333;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 500px) {
    .match-card__header h2, 
    .league-selector label, 
    .league-selector select {
        font-size: 12px;
    }

    header ul,
    footer,
    .stats {
        font-size: 10px;
    }

    .stats div {
        padding: 2px;
    }

    .match-card {
        width: 90%;
    }

    .close-btn {
        width: 47px;
        height: 28px;
        padding: 0;
    }

    .period-btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}